//////////////////////////////////////////////
// LOGO

.logo {
  height: 3.2rem;
  margin-left: 3rem;
}

//////////////////////////////////////////////
// SEARCH

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    cursor: pointer;
    margin-right: -3.25rem;
    transition: all .3s;

    &:focus {
        outline: none;
        width: 100%;
        background-color:var(--color-grey-light-3);
    }
  }

  &__input:focus + &__button {
    background-color:var(--color-grey-light-3);

  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus{
        outline: none;
    }

    &:active {
        transform: translateY(2rem);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

//////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
  &__icon-box {
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  &__navigation {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
